<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <title>Recipe</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/ingredients">Ingredients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Recipe</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <fieldset>
     <legend>Recipe</legend>
     <table cellspacing="10">

      <tr>
       <td>
        <label for="rua">Nome:</label>
       </td>
       <td align="left">
        <input type="text" name="nome">
       </td>
       <td>
        <label for="numero">tipo: </label>
       </td>
       <td align="left">
        <input type="text" name="numero" size="4">
       </td>
      </tr>

      <tr>
       <td>
        <label for="estado">Ingredientes:</label>
       </td>
       <td align="left">
        <select name="estado">
        <option value="ac">Açúcar 2 xicaras</option>
        <option value="al">6 Ovos</option>
        <option value="am">1 kg Farinha</option>
        <option value="ap">2 Colheres de fermento em pó</option>
        <option value="ba">...</option>
        <option value="ce">...</option>
        <option value="df">...</option>
        <option value="es">...</option>
       </select>
       </td>
     </table>
    </fieldset>
    <br />
    <button type="button" class="btn btn-success">Cadastrar</button>
     <script src="{{ url_for('static', filename="js/bootstrap.min.js") }}" charset="utf-8"></script>

  </body>
</html>
